@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box {
  width: 100%;
  max-width: 480px;
  /* background-color: rgb(255, 217, 255); */
  background-color: rgb(255 204 0);
  border-radius: 15px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  /* border: 1px solid black; */
}

#btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 10px;
  /* border: 1px solid blue; */
}

.all-input {
  /* border: 1px solid orange; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  border: 1px solid red;
}

input {
  /* float: right; */
  width: 250px;
  padding: 8px;
  /* border-radius: 5px; */
}

button {
  padding: 8px;
  width: 150px;
}

#p1 {
  line-height: 1.5rem;
  text-align: center;
}

/* responsive */

@media screen and (max-width: 500px) {
  #box {
    padding: 30px 20px;
  }

  h1 {
    font-size: 22px;
    text-align: center;
  }

  .all-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  input {
    width: 100%;
  }
  label {
    width: 100%;
    /* float: left !important; */
  }

  button {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  #btns {
    flex-direction: column;
  }
}
